.curr {
    color: blue;
    text-align: right;
}

.chat-form {
    display: flex;
    flex-direction: row;
}

.input-fields {
    display: flex;
    flex-direction: column;
}

.game-layout {
    display: flex;
    flex-direction: row;
}

.chat-container {
    outline: 0.5vh dashed blue;
    padding: 2vh;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.user-img {
    max-height: 8vh;
    width: auto;
}

.game-start {
    width: 100%;
}

.user-name-field {
    max-width: 10rem;
}

.fixed-aspect {
    flex-grow: 100;
}

#chat-container {
    min-width: 25vw;
}